.differential_area {
    min-height: 100vh;
    background-color: var(--background--color2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;

    .differential_attributes {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .differential_field {
            min-height: 70vh;
            display: flex;
            flex-direction: column;
            gap: 20px;
            overflow: hidden;
            background-color: var(--white--background);
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            transition: all 0.3s ease-in-out;
            cursor: pointer;

            &:hover {
                transform: translateY(-15px) scale(1.05);
                border: 2px solid var(--orange--font);

                .differential_text span {
                    color: var(--orange--backgroundHover);
                }

                .icons_line i {
                    transform: scale(1.05) rotate(10deg);
                    color: var(--gray--font);
                    box-shadow: 0 0 20px 5px rgba(255, 155, 81, 0.6);
                }
            }

            .icons_line {
                flex: 6;
                display: flex;
                justify-content: center;
                align-items: center;
                background-position: center;
                background-size: cover;  
                background-repeat: no-repeat;
                width: 100%;

                & i {
                    font-size: clamp(30px, 3.5vw, 40px);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 15px;
                    border-radius: 10px;
                    background-color: var(--white--background);
                    color: var(--orange--font);
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                    opacity: 1;
                    transition: all 0.3s ease-in-out;
                }
            }

            .differential_text {
                padding: 20px;
                flex: 4;
                display: flex;
                text-align: center;
                flex-direction: column;
                gap: 12px;

                & span {
                    font-size: clamp(20px, 2.6vw, 24px);
                    font-weight: 550;
                    transition: all 0.3s ease-in-out;
                }

                & p {
                    font-size: clamp(16px, 2.2vw, 18px);
                    color: var(--light--gray--font);
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .differential_area {
        .differential_attributes {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }
}